aiogram>=3.11.0
aiogram-dialog>=2.2.0
asyncpg>=0.28.0
redis>=4.5.0
environs>=10.0.0
sqlalchemy>=2.0.0
alembic>=1.13.0
asyncio-redis>=0.16.0
google-api-python-client>=2.105.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1
greenlet>=3.0.0
